body{
	background-color: paleturquoise;
	font-family: sans-serif;
	font-size: 17px;
	line-height: 1.3em;
	margin: 10px;
	border: 10px ridge lawngreen;
	border-radius: 13px;
	padding-left: 10px;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	color: white;
	background-color: coral;
}

#navi{
	color: #fff;
	background-color: #333;
}


#navi ul{
	padding: 0px;
	list-style: none;
}

#navi li{
	display: inline;
}

#navi a{
	padding-top: 10px;
	font-size: 18px;
	color: white;
	text-decoration: none;
	padding-right: 10px;
	font-style: uppercase;
}

#showcase{
	background-image: url(../html/lolpaper.jpg);
	min-height: 900px;
	background-position: 55% 44%;
}

#showcase h1{
	font-size: 30px;
	color: lightgoldenrodyellow;
	padding-top: 30px;
	margin: 30px;
	line-height: 1.8em;
}

#main{
	float: left;
	width: 65%;
	padding: 0px 30px;
	box-sizing: border-box;
}

#side{
	float: right;
	width: 35%;
	padding: 10px;
	background-color: lavender;
	color: lightseagreen;
	box-sizing: border-box;
}

#main-footer{
	text-align: center;
	padding: 40px;
	background-color: antiquewhite;
	color: orangered;
	margin-top: 30px;
}

@media(max-width: 600px){
	#main{
		width: 100%;
		float: none;
	}
	#side{
		width: 100px;
		float: none;
	}
}